#come_HD .CHD-content {
  text-align: center;
}
#come_HD .CHD-content .artical {
  width: 75%;
  margin: 30px auto;
}
#come_HD .CHD-content .artical strong {
  color: #C52724;
}
#come_HD .introduct-photo {
  height: 400px;
  margin: 5px auto;
  overflow: hidden;
}
#come_HD .introduct-photo img {
  width: 100%;
  height: 100%;
}
#come_HD .introduct-photo .upcaption {
  position: relative;
  z-index: 100;
  height: 88px;
  text-align: center;
  color: #fff;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}
#come_HD .introduct-photo .upcaption p {
  line-height: 30px;
}
#come_HD .introduct-photo:hover .upcaption {
  margin-top: -88px;
}
#new_state {
  padding-bottom: 20px;
}
#new_state .new-main-left {
  margin: 0 auto;
  padding-top: 30px;
  text-align: justify;
}
#new_state .new-main-left h5 a,
#new_state .new-main-left p {
  overflow: hidden;
  text-overflow: ellipsis;
}
#new_state .new-main-left h5 {
  margin: 20px 0;
}
#new_state .new-main-left h5 a {
  color: #C52724;
  white-space: nowrap;
  text-decoration: none;
}
#new_state .new-main-left p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#new_state .new-main-midden ul {
  padding: 0;
  list-style-type: none;
}
#new_state .new-main-midden ul li {
  padding-top: 30px;
  border-bottom: 1px dashed #ccc;
}
#new_state .new-main-midden ul li h5 {
  margin: 20px 0;
}
#new_state .new-main-midden ul li h5 a {
  color: #C52724;
  white-space: nowrap;
  text-decoration: none;
}
#new_state .new-main-midden ul li p {
  color: #ccc;
}
#new_state .new-main-midden ul li:last-child {
  border-bottom: 0;
}
#new_state .new-main-right {
  padding-top: 30px;
}
#new_state .new-main-right ul {
  padding: 0;
  list-style-type: none;
}
#new_state .new-main-right ul li {
  position: relative;
}
#new_state .new-main-right ul li p {
  width: 70px;
  position: absolute;
  left: 45px;
  text-align: center;
}
#new_state .new-main-right ul li p:nth-of-type(1) {
  top: 30px;
  font-size: 20px;
  border-bottom: 3px solid;
}
#new_state .new-main-right ul li p:nth-of-type(2) {
  top: 65px;
}
#new_state .new-main-right ul .change {
  color: #fff;
}
