#prot_intdct .introduct-panel {
  padding-top: 20px;
}
#prot_intdct .introduct-panel .panel .panel-heading {
  color: #fff;
  background-color: #C52724;
}
#prot_intdct .introduct-panel .panel .panel-body {
  height: 250px;
  padding: 0 0 0 10px;
  background-color: #ccc;
}
#prot_intdct .introduct-panel .panel .panel-body p {
  cursor: pointer;
}
#prot_intdct .introduct-panel .panel .panel-body p span {
  display: inline-block;
  font-size: 20px;
  color: #C52724;
  margin-right: 10px;
  transform: rotateZ(45deg) translateY(3px);
}
#prot_intdct .introduct-panel .panel .panel-body .active {
  color: #C52724;
}
#prot_intdct .prodct-main .public-title {
  width: 95%;
  text-align: left;
  padding: 0;
  margin-left: 15px;
}
#prot_intdct .prodct-main .public-title h2 {
  padding-bottom: 10px;
  font-size: 16px;
}
#prot_intdct .prodct-main .public-title h2 small {
  font-size: 16px;
}
#prot_intdct .prodct-main .public-title h2 span {
  float: right;
  color: #ccc;
  font-size: 25px;
}
#prot_intdct .prodct-main .public-title p {
  margin-left: 0;
}
#prot_intdct .prodct-main ul li {
  padding: 20px;
}
#prot_intdct .prodct-main ul li .module-caption {
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  background-color: #f3f3f3;
}
@media screen and (max-width: 768px) {
  #prot_intdct .prodct-main ul li .module-caption img {
    width: 100%;
    height: 140px;
  }
  #prot_intdct .prodct-main ul li .module-caption p {
    height: 30px;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  #prot_intdct .prodct-main ul li .module-caption img {
    width: 100%;
    height: 190px;
  }
  #prot_intdct .prodct-main ul li .module-caption p {
    height: 40px;
    line-height: 40px;
  }
}
